.App {
  font-family: sans-serif;
  text-align: center;
  margin: 60px auto;
  max-width: 720px;
}

.todo-item {
  margin: 10px;
}

.hero-field {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.add-btn {
  margin: 0 5px;
}

.check-box {
  transform: scale(3.5) translate(0, -0.5px);;
  margin: 0 20px;
  position: relative;
  bottom: 2.05px;
}

.strike {
  text-decoration: line-through;
}

.flex {
  display: flex;
  justify-content: space-around ;
  margin: 20px 10px;
}
.flex-item {
    margin-right: 20px;
}

.tags .item {
  padding: 25px 15px;
  font-size: 1.75rem;
  font-weight: 600;
  position: relative;
  top: 4px;
}

.tags .item .delete {
  margin-left: 20px;
}
